.galleryImage {
  width: 350px;
  height: 300px;
}

.galleryImage img {
  width: 400px;
}

.imghvr-fade:hover {
  cursor: pointer;
}

.imageBackground {
  height: 300px;
  width: 100%;
  background-image: url("../images/headerOverlay.jpg");
  background-position: 50% 90%;
  margin-bottom: 5%;
}

.imageBackground h1 {
  padding-top: 10%;
  color: white;
  font-size: 250%;
  text-shadow: 2px 2px #000000;
}

.CTA {
  margin-top: 5%;
  margin-bottom: 5%;
}

.CTA h2 {
  background-color: #757D79;
  color: white;
  margin-bottom: 2%;
  font-family: 'Playfair Display', serif;
  text-shadow: 2px 2px #000000;
}

.CTA a :hover {
  text-shadow: 2px 2px 5px black;
}

.CTA a button {
  background-color: #8F9E59;
  color: white;
  height: 130%;
  margin: auto;
  font-size: 100%;
  padding: 1%;
  font-family: 'Playfair Display', serif;
  cursor: pointer;
}

/*Eliminates padding, centers the thumbnail */
/* Styles the thumbnail */
a.lightbox img {
  height: 300px;
  width: 300px;
  border: 3px solid white;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

a.lightbox img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */
.lightbox-target {
  position: fixed;
  top: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */
a.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */
a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */
a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
  top: 0px;
}
/*# sourceMappingURL=gallery.css.map */