//variables
$background: #f5f5f5;
$green: #8F9E59;
$gray: #757D79;
$black: #000000;

body {
  font-size: 130%;
  background-color: #E0E1E1;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  background-color: $background;
  border: thin solid $black;
  box-shadow: 1px 2px 2px 2px $black;
}

.header {
  background-color: $green;
  margin-bottom: 5%;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

  .header img {
    width: 20%;
    padding-top: 20px;
  }

  .nav {
    background-color: $gray;
    border-top: thin solid $black;
    border-bottom: thin solid $black;
    padding: 1%;
  }

    .nav ul {
      list-style-type: none;
      display: inline;
      font-family: 'Playfair Display', serif;
      padding: 20px;
      width: 100%;
    }

      .nav a {
        text-decoration: none;
        text-shadow: 1px 1px $gray;
        color: white;
        font-size: 1.4rem;
        text-align: center;
      }

        .nav a:hover {
          text-shadow: 1px 1px $black;
          color: #f5f5f5;
          border-bottom: 1px solid white;
        }

        .nav li {
          color: white;
          display: inline;
          margin-left: 5%;
          padding: 1%;
          //border-top: thin solid $black;
        }
      
    .toggle {
      width: 100%;
      padding: 10px 20px;
      text-align: center;
      color: #8F9E59;
      font-size: 40px;
      display: none;
  }

  


.footer {
  background-color: $green;
  color: white;

  .navFooter {
    ul {
      list-style-type: none;

      a {
        text-decoration: none;
        text-shadow: 1px 1px $gray;
        font-family: 'Playfair Display', serif;

        :hover {
          text-shadow: 1px 1px $black;
        }

        li {
          color: white;
        }
      }
    }
  }

  address {
    a {
      color: white;
    }
  }

  img {
    width: 50%;
  }
}


@media (max-width: 768px) {

  .header img {
    width: 35%;
    padding-top: 20px;
  }

  .nav .toggle {
      display: block;
     text-align: center;
   }

  .nav ul {
      width: 100%;
      display: none;
   }

  .nav ul li {
      display: block;
      text-align: center;
  }

  .nav li a {
      text-decoration: none;
      color: white;
      font-size: 1.4rem;
      text-align: center;
  }

  .nav .active {
      display: block; 
  } 
}
